



/* PC 1024px*/
@media (min-width: 46.25em){
    
}
/* Tablet 1023px and Mobile */
@media (max-width: 63.9375em) 
{
    .btn{
        padding: 16px 16px;
        font-size: 17px;
    }
    .contact-form .form-control {
        padding: 16px;
    }
    .contact-info {
        line-height: 2;
    }
    .contact-info a{
        color: #0000ef;
        opacity: 0.8;
    }
    .contact-info a:hover{
        opacity: 1;
    }
    #footer .social-list{
        font-size: 48px;
    }
    #footer .social-list a {
        margin: 0px 12px;
    }
    #footer .copyright a {
        padding: 16px 0px;
        display: inline-block;
    }
}
/*  Tablet 740<x<1023*/
@media (min-width: 46.25em) and (max-width: 63.9375em)
{

}

/* Mobile <739 */
@media (max-width: 46.1875em){

/* Common */
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }
/* End common */
    #header .search-btn{
        display: none;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header{
        overflow: hidden;
    }   


    #nav{
        display: block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 4px 41px;
        border: 1px solid #ccc ;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav>li {
        display: block;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    #contact .contact-form{
        margin-top: 16px;

    }

    
    
}

